<div>
  <% articles.each do |article| %>
    <article class="user-article">
      <header class="article-header">
        <div class="article-header-right">
          <a href="<%= user_path(article.user) %>"><img src="<%= gravatar_url(article.user, { size: 20 }) %>"></a>
          <%= link_to article.user.name, user_path(article.user) %>
        </div>
        <div class="ml-2 article-header-left">が<%= article.created_at %>に投稿</div>
      </header>
      <h2><a href="<%= article_path(article) %>"><%= article.title %></a></h2>
    </article>
  <% end %>
</div>