<div class="mb-5">
  <% articles.each do |article| %>
    <article class="user-article">
      <header class="article-header">
        <div class="article-header-left">
          <%= link_to user_path(article.user) do %>
            <% if article.user.image_attachment || article.user.auth_image %>
              <%= image_tag article.user.index_display_image, class: 'rounded rounded-circle img-fluid border border-dark' if article.user.image.attached? %>
              <img src="<%= article.user.auth_image %>" class="rounded rounded-circle img-fluid border border-dark" width="30" height="30">
            <% else %>
              <img src="<%= gravatar_url(article.user, { size: 20 }) %>">
            <% end %>
          <% end %>
          <%= link_to article.user.name, user_path(article.user) %>
        </div>
        <p class="ml-4 article-header-right"><%= l article.created_at %> に投稿</p>
      </header>
      <h2><a href="<%= article_path(article) %>"><%= article.title %></a></h2>
      <div class="tag-container mt-3">
        <p>タグ</p>
        <ul class="tag-field">
          <% article.attached_tags.each do |tag| %>
            <li class="mr-2"><%= link_to tag.name, tag %></li>
          <% end %>
        </ul>
      </div>
     
    </article>
  <% end %>
</div>