<div class="home">
  <% if current_user == nil %>
    <div class="toppage-hero">
      <div class="toppage-hero_inner">
        <div class="toppage-hero_start">
          <h1>SendGrid</h1>
          <h1>SoccerPub</h1>
          <p>SoccerPubは、サッカーに関する話題を共有し、自分の応援するチームのファンと繋がれるアプリです。</p>
        </div>
        <div class="toppage-hero_end">
          <%= form_with(model: @user, local: true) do |f| %>
            
            <div class="form-group">
              <%= f.label :name, 'ユーザー名' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, 'メールアドレス' %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password, 'パスワード' %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, '確認' %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            
            <%= f.submit '登録する', class: 'btn btn-primary' %>
            
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="toppage-main px-2 mt-5">
    <h1>SendGrid</h1>
    <div class="toppage-main_inner">
      <div class="toppage-main_start ml-2">
        <div>記事フィード</div>
        <ul>
          <li><%= link_to '最新', root_path %></li>
          <% if logged_in? %>
            <li><%= link_to 'タイムライン', timeline_articles_path %></li>
            <li><%= link_to 'お気に入り', favorite_articles_articles_path %></li>
            <li><%= link_to 'タグ', tagged_articles_articles_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="toppage-main_end">
        <% if @search %>
          <div class="search-result">
            <p class="mb-1"><%= @search %>の検索結果</p>
            <ul class="nav nav-tabs">
              <div><span class="fa fa-laugh-wink"></span></div>
              <li class="active ml-2"><%= @count_search_result %>件見つかりました</li>
            </ul>
          </div>
        <% else %>
          <div class="toppage-main_end-header">
            <div><span class="fa fa-laugh-wink"></span></div>
            <p>最新</p>
          </div>
        <% end %>
          <div>
            <%= render 'articles/articles', articles: @articles %>
          </div>
      </div>
    </div>
  </div>
</div>
