<%= form_with(model: @article, local: true) do |f| %>
  <div class="form-group bg-primary">
    <%= f.text_field :title, class: 'form-control', placeholder: 'タイトル' %>
  </div>
  <div class="form-group bg-secondary">
    <!--<%= f.text_field :tag, class: 'form-control', placeholder: 'チーム名入力' %>-->
  </div>
  <div class="form-group bg-success">
    <%= f.text_area :content, class: 'form-control', placeholder: '本文', :size => "60x15" %>
  </div>
  <div>
    <%= f.submit '投稿する', class: 'btn btn-primary' %>
  </div>
<% end %>
