<div class="new-articles mt-3">
  <%= form_with(model: @form, local: true) do |f| %>
    <div class="form-group bg-primary">
      <%= f.text_field :title, class: 'form-control', placeholder: 'タイトル' %>
    </div>
    <div class="form-group bg-secondary">
      <%= f.text_field :tag_names, class: 'form-control', placeholder: 'タグ' %>
    </div>
    <div class="form-group">
      <%= f.label :content, '内容' %>
      <%= f.rich_text_area :content %>
    </div>
    <div>
      <%= f.submit '投稿する', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


