<div class="show-wrapper">
  <div class="wrapper-container">
      <div class="wrapper-container-article">
        <div class="wrapper-container-article-header">
          <div class="article-show-header">
            <div class="header_info">
              <div class="author mr-3">
                <div class="mr-2"><a href="<%= user_path(@article.user) %>"><img src="<%= gravatar_url(@article.user, { size: 30 }) %>"></a></div>
                <div><a href="<%= user_path(@article.user) %>"><%= @article.user.name %></a></div>
              </div>
              <div class="header_time"><span><%= @article.updated_at %></span></div>
            </div>
          </div>
          <h1 class="article-show-header-title"><%= @article.title %></h1>
        </div>
        <section class="wrapper-container-article-content border-top py-3">
          <div class="mb-3">内容</div>
          <div><%= @article.content %></div>
        </section>
        <div class="wrapper-container-article-footer border-top py-3">
          <div class="author mr-3">
            <div class="mr-2"><a href="<%= user_path(@article.user) %>"><img src="<%= gravatar_url(@article.user, { size: 30 }) %>"></a></div>
            <div><a href="<%= user_path(@article.user) %>"><%= @article.user.name %></a></div>
          </div>
          <div class="mt-3">
            <%= render 'relationships/follow_button', user: @user %>
          </div>
        </div>
          
      </div>
    </div>
  </div>
</div>