<div class="card py-3">
      <div class="card-body">
        <div class="text-center">
          <%= image_tag user.display_image, class: 'rounded rounded-circle img-fluid border border-dark' if user.image.attached? %>
          <img src="<%= user.auth_image %>" class="rounded rounded-circle img-fluid border border-dark">
        </div>
        <h4 class="card-title text-center mt-3"><%= user.name %></h4>
        <div class="card-body_flex mt-5">
          <p><a href="<%= user_path(user) %>">投稿</a></p>
          <p><a href="<%= followings_user_path(user) %>"><span id="followings_count" class="badge badge-secondary"><%= count_followings %></span>フォロー</a></p>
          <p><a href="<%= followers_user_path(user) %>"><span id="followers_count" class="badge badge-secondary"><%= count_followers %></span>フォロワー</a></p>
        </div>
        <% if correct_user?(user) %>
          <div class="text-center mt-3">
            <%= link_to 'プロフィールを編集する', edit_user_path(user) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mt-3 text-center">
      <%= render 'follow_form', user: user %>
    </div>