<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media border-bottom mb-2">
        <div class="media-body">
          <div class="mb-2">
            <%= link_to user_path(user), class: 'mr-2' do %>
              <% if user.image_attachment %>
                <%= image_tag user.navbar_display_image, class: 'rounded rounded-circle img-fluid border border-dark' if user.image.attached? %>
              <% elsif user.auth_image %> 
                <img src="<%= user.auth_image %>" class="rounded rounded-circle img-fluid border border-dark" width="40" height="40">
              <% else %>
                <img src="<%= gravatar_url(current_user, { size: 30 }) %>">
              <% end %>
              <span class="h5"><%= user.name %></span>
            <% end %>
          </div>
          <div>
            <p><%= link_to 'View profile', user_path(user) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>