<div class="row">
  <div class="col-md-5">
    <div class="card py-3">
      <div class="card-body">
        <div class="text-center">
          <%= image_tag @user.display_image, class: 'rounded rounded-circle img-fluid border border-dark' if @user.image.attached? %>
        </div>
        <h4 class="card-title text-center"><%= @user.name %></h4>
        <div class="flex">
          <p><a href="#">投稿</a></p>
          <p><a href="#">フォロー</a></p>
          <p><a href="#">フォロワー</a></p>
        </div>
        <div class="text-center">
          <%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <h2><%= @user.name %>のプロフィール</h2>
    
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :image, '画像' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :introduction, '自己紹介' %>
        <%= f.text_field :introduction, class: 'form-control' %>
      </div>
      
      <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
      <%= link_to 'パスワードの変更はこちらから', new_password_reset_path, class: 'btn btn-danger btn-block' %>
    <% end %>
  </div>
</div>