<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SoccerPub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end navbar-content" id="navbarSupportedContent">
      <div class="fuzzy_search mr-5">
        <%= form_tag(searches_path, method: :get) do %>
          <%= text_field_tag :search, "", placeholder: 'タイトルで検索' %>
          <%= submit_tag '検索', size: 30*30 %>
        <% end %>
      </div>
      <p><%= link_to '投稿する', new_article_path %></p>
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_user.navbar_display_image, class: 'rounded rounded-circle img-fluid border border-dark' if current_user.image.attached? %>
              <img src="<%= current_user.auth_image %>" class="rounded rounded-circle img-fluid border border-dark" width="40" height="40">
            </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user) %></li>
                <% if current_user.admin %>
                  <li class="dropdown-item"><%= link_to 'ユーザー一覧', admin_users_path %></li>
                  <li class="dropdown-item"><%= link_to 'スパム報告一覧', spams_admin_articles_path %></li>
                <% end %>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
              </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to 'ユーザー登録', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>